<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Products</title>
    <script type="text/javascript" src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body background="https://wallpapers.com/images/hd/5k-firewatch-deer-aesthetic-0bt8rqtpbep0bwl9.jpg" style="background-size: cover; background-repeat: no-repeat">
<div style="width: 100%; height: 50px; position: relative; top: -22px; background-color: #36373d; color: white;">
    <h1 text align="center">CRUD Application</h1>
    <div style="width: 100%; height: 5px; position: relative; top: -22px; background-color: white;"></div>
    <button id="select" style="position: relative; left: 97%; top: -75px"></button>
</div>
<p>
<div>
    <table id="list-products" style="width: 1000px; height: 50px; border-color: steelBlue; background-color: LightSteelBlue; border-radius: 5px;" align="center" border="2">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.description}"></td>
        </tr>
    </table>
    <div align="center">
        <p><button id="add" class="button button1" style="position: relative; width: 1000px; height: 50px; color: white;" onclick="displayFormAdd()">Add product</button>
        <p><button id="update" class="button button1" style="position: relative; width: 1000px; height: 50px; color: white;" onclick="displayFormUpdateId()">Update product</button>
        <p><button id="get" class="button button1" style="position: relative; width: 1000px; height: 50px; color: white;" onclick="displayFormGetId()">Get product</button>
        <p><button id="delete" class="button button1" style="position: relative; width: 1000px; height: 50px; color: white;" onclick="displayFormDeleteId()">Delete product</button>
        <p><form action="https://spring-boot-crud-operations.herokuapp.com/products/" method="get">
        <input id="getAll" class="button button1" style="position: relative; width: 1000px; height: 50px; color: white;" onclick="displayFormGetAll()" type="submit" value="Get All products">
        </form>
        <p><form action="https://spring-boot-crud-operations.herokuapp.com/products/" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <input id="deleteAll" class="button button1" style="position: relative; width: 1000px; height: 50px; color: white;" onclick="displayFormDeleteAll()" type="submit" value="Delete All products">
        </form>
    </div>
    <div align="center">
    <form id ="form1"  style="visibility: hidden; margin-top: -570px;" method="post" action="https://spring-boot-crud-operations.herokuapp.com/products/">
        <p><input style="position: relative; top: 0px" class="text-field__input" type="text" name="Id" id="id-product-add" placeholder="Id">
        <p><input style="position: relative; top: -15px" class="text-field__input" type="text" name="Name" id="name-product-add" placeholder="Name">
        <p><input style="position: relative; top: -30px" class="text-field__input" type="text" name="Price" id="price-product-add" placeholder="Price">
        <p><input style="position: relative; top: -45px" class="text-field__input" type="text" name="Category" id="category-product-add" placeholder="Category">
        <p><input style="position: relative; top: -60px" class="text-field__input" type="text" name="Description" id="description-add" placeholder="Description">
        <p><input style="position: relative; top: -70px" class="input1" type="submit" value="Send" />
    </form>

    <form id ="form2" style="visibility: hidden; margin-top: -200px;" method="post" action="https://spring-boot-crud-operations.herokuapp.com/products/">
        <input type="hidden" name="_method" value="put"/>
        <input style="position: relative; top: 0px" class="text-field__input" type="text" name="Id" id="id-product-update" placeholder="Id">
        <input style="position: relative; top: 1px" class="text-field__input" type="text" name="Name" id="name-product-update" placeholder="Name">
        <input style="position: relative; top: 2px" class="text-field__input" type="text" name="Price" id="price-product-update" placeholder="Price">
        <input style="position: relative; top: 2px" class="text-field__input" type="text" name="Category" id="category-product-update" placeholder="Category">
        <input style="position: relative; top: 4px" class="text-field__input" type="text" name="Description" id="description-product" placeholder="Description">
        <p><input style="position: relative; top: -6px" class="input1" onclick="displayFormUpdate()" type="submit" value="Send" />
    </form>

    <form id ="getId" style="visibility: hidden; margin-top: -40px;" method="get" action="https://spring-boot-crud-operations.herokuapp.com/products/">
        <input class="text-field__input" type="text" name="Id" id="id-product-get" placeholder="Id">
        <p><input id="submit-get-id" class="input1" onclick="displayFormGet()" type="submit" value="Send"></p>
    </form>

    <form id ="deleteId" style="visibility: hidden; margin-top: -10px;" method="post" action="https://spring-boot-crud-operations.herokuapp.com/products/">
        <input type="hidden" name="_method" value="delete"/>
        <input class="text-field__input" type="text" name="Id" id="id-product-delete" placeholder="Id">
        <p><input id="submit-delete-id" class="input1" onclick="displayFormDelete()" type="submit" value="Send"></p>
    </form>
    </div>
</div>
</body>
</html>